body {
    margin: 0;
    padding: 0;
}
.container {
    text-align: center;
}
h1 {
    color: #4169E1;
    text-transform: uppercase;
    font-size: 3em;
}
h2 {
    color: #6495ED;
    font-size: 5em;
    margin: 0;
}
.btn {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    margin: 0 50px;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;
}
.btnMin {
    background-color: #90EE90;
}
.btnPlus {
    background-color: #CD5C5C;
}